/*moogle*/

body {
    font-family: arial,sans-serif;
    font-size: small;
}

.top-nav {
    position: absolute;
    top: 0;
    left: -10px;
    right: 10px;
    line-height: 35px;
    display: inline-block;
    font-size: 13px;
    opacity: 0.75;
    text-decoration: none;
    color: black;
    text-align: center;
}

.left-nav li  {
    float: left;
    list-style-type: none;
}

.right-nav li  {
    float: right;
    padding-right: 15px;
    list-style-type: none;
}

.white {
    background: -webkit-linear-gradient(#dfd8d8, #918585);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.searchBar {
    display: flex;
    border: 1px solid #dfe1e5;
    top: 300;
    width: 582px;
    height: 44px;
    border-radius: 50px;
    display: block;
    margin: auto;
}

.searchBar2 {
    flex: 1;
    display: flex;
    padding: 15px 0px 0px 15px;
}

input[type="text"] {
    margin-left: 15px;
    margin-top: -5px;
    font-size: 18px;
    width: 500px;
    border: none;
}

.searchButtons{
    margin-top: 30px;
    display: flex;
    justify-content: center;
} 

.button {
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    font-size: 14;
    margin: 11px 4px;
    padding: 0% 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

h1  {
    font-size: 6vw; 
    text-align: center; 
    padding-top: 109px;
}


.footer ul {
    color: black;
    opacity: 0.75;
    text-align: center;
    text-decoration: none;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #f2f2f2;
    border-top: 1px solid #e4e4e4;
    display: block;
    line-height: 30px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.please-move-left {
    margin-left: -35px;
}

.left-foot li {
    float: left;
    padding-left: 22px;
    display: block;
}

.right-foot li {
    float: right;
    padding-right: 22px;
    display: block;
}

li:hover {
    text-decoration: underline;
    cursor: pointer;
}